<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
    </head>
    <body>
        <h1>DANK HECKIN WEBSITE</h1>
        @RenderBody()
    </body>
</html>
